@model IEnumerable<Workflow.Models.Project>

@{
    ViewBag.Title = "Liste des projets";
}

@*<p>
    <a href="#" id="creer">create</a>
</p>*@

<h2>Liste des projets</h2>
<p>
    @Html.ActionLink("Create New Project", "Create")
</p>
@if (ViewBag.statut != "")
{
    <div class="alert alert-info"><p>@ViewBag.statut</p></div>
}

<div id="liste">
<div class="panel panel-primary">
    <div class="panel-heading">Liste de projects</div>
    <table class="table table-striped">
        <tr>
            <th>Reference</th>
            <th>Nom</th>
            <th>Ower</th>
            <th>Client</th>
            <th>Utilisateur</th>
        </tr>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.projectRefNum</td>
                <td>@project.projectName</td>
                <td>@project.projectOwner</td>
                <td>@project.Client.clientName</td>
                <td>@project.User.userName</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = project.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = project.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = project.Id })

                    @*<a href="#" id="ed" class="editer">Editer</a> |
                    <a href="#" id="det" class="details">Details</a> |
                    <a href="#" id="del" class="delete">Supprimer</a>*@
                </td>
            </tr>
        }
    </table>
</div>
    </div>


@*<p>
    @Html.ActionLink("Client List", "Index", "Client") |
    @Html.ActionLink("User List", "Index", "User")
</p>*@